spring:
  datasource:
    url: ${RAILWAY_DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${RAILWAY_DB_USER}
    password: ${RAILWAY_DB_PWD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
server:
  address: 0.0.0.0
  port: 8080
