spring:
  application:
    name: Backend

  datasource:
    url: ${ DATABASE_URL }
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true

server:
  address: 0.0.0.0
  port: 8080


app:
  jwt-secret: ${MY_SECRET_KEY}
  jwt-expiration-ms: 36000000
