spring:
  application:
    name: Backend
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        globally_quoted_identifiers: true

  profiles:
    active: dev
server:
  address: 0.0.0.0
  port: 8080





app:
  jwt-secret: ${MY_SECRET_KEY}
  jwt-expiration-ms: 36000000
